<%- include("template/head", {title : "Nuestros viajes", css : "admin"}) %>
  <body>
    <header>
      <h1>Express Travels</h1>
    </header>

    <main>
        <section class="insert">
           <h2>Formulario para incorporar destinos</h2>
      <form action="/insert" method="POST">
        <div>
          <label for="ruta">Ruta:</label>
          <input type="text" id="ruta" name="ruta" />
        </div>
        <div>
          <label for="lugar">Lugar:</label>
          <input type="text" id="lugar" name="lugar" />
        </div>
        <div>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" />
        </div>
        <div>
          <label for="descripcion">Descripcion:</label>
          <input type="text" id="descripcion" name="descripcion" />
        </div>
        <div>
          <label for="precio">Precio:</label>
          <input type="number" id="precio" name="precio" step="any" />
        </div>
        <div>
          <label for="img">Ruta de la imagen:</label>
          <input type="text" id="img" name="img" />
        </div>
        <div class="form_buttons">
            <button type="submit">Enviar datos</button>
            <button type="reset">Borrar datos</button>
        </div>
      </form>         
        </section>

        <section class="update">
          <h2>Formulario para modificar destinos</h2>
     <form id="form-update" onsubmit="return actualizarDestino(event)">
      <input type="hidden" id="update-id" name="id">
       <div>
         <label for="ruta">Ruta:</label>
         <input type="text" id="update-ruta" name="ruta" />
       </div>
       <div>
         <label for="lugar">Lugar:</label>
         <input type="text" id="update-lugar" name="lugar" />
       </div>
       <div>
         <label for="nombre">Nombre:</label>
         <input type="text" id="update-nombre" name="nombre" />
       </div>
       <div>
         <label for="descripcion">Descripcion:</label>
         <input type="text" id="update-descripcion" name="descripcion" />
       </div>
       <div>
         <label for="precio">Precio:</label>
         <input type="number" id="update-precio" name="precio" step="any" />
       </div>
       <div>
         <label for="img">Ruta de la imagen:</label>
         <input type="text" id="update-img" name="img" />
       </div>
       <div class="form_buttons">
           <button type="submit">Enviar datos</button>
           <button type="reset">Borrar datos</button>
       </div>
     </form>         
       </section>
      <section>
<table>
    <thead>
        <tr>
            <th>Ruta</th>
            <th>Lugar</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% datos.forEach(destino => { %>
            <tr>
                <td><%= destino.ruta %></td>
                <td><%= destino.lugar %></td>
                <td><%= destino.nombre %></td>
                <td><%= destino.precio %></td>
                <td>
                  <button onclick="mostrarFormularioActualizacion(<%= JSON.stringify(destino) %>)"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
</svg> 
</button></td>
                <td>
                  <button onclick="eliminarDestino('<%= destino.id %>')"> 
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
</svg>
                  </button>
</td>
            </tr>
           <%  }); %>  
    </tbody>
</table>
      </section>
    </main>
<script>
const sectionInsert = document.querySelector(".insert")
const sectionUpdate = document.querySelector(".update")
sectionUpdate.style.display = "none"

function eliminarDestino(id) {
  fetch(`/eliminar/${id}`,
  {
    method: 'DELETE'
  })
  .then(response => response.json())
  .then(data => {
    // alert(data.mensaje);
    // location.reload()
    setTimeout(() => location.reload(), 200)
  }).catch(error => console.error("Error:", error)
)}

function mostrarFormularioActualizacion(destino){
  sectionInsert.style.display = "none"
  sectionUpdate.style.display = "block"
  // destino = JSON.parse(destino);
  console.log(destino.id);
  document.getElementById('update-id').value = destino.id
  document.getElementById('update-ruta').value = destino.ruta
  document.getElementById('update-lugar').value = destino.lugar
  document.getElementById('update-nombre').value = destino.nombre
  document.getElementById('update-descripcion').value = destino.descripcion
  document.getElementById('update-precio').value = destino.precio
  document.getElementById('update-img').value = destino.img
}

function actualizarDestino(event) {
  event.preventDefault()
  const formUpdate = document.getElementById('form-update')
  const formData = new FormData(formUpdate)
  const datosFormulario = Object.fromEntries(formData)
  // console.log(datosFormulario);
  fetch(`/actualizar/${datosFormulario.id}`, 
    { method : "PUT",
      headers : {'Content-Type': 'application/json'},
      body:  JSON.stringify(datosFormulario)
    })
  .then(response => response.json())
  .then(result => {
    console.log(result);
    location.reload()
})


}
</script>

  </body>
</html>
