<%- include("template/head", {title : "Express Travels 2024", css : "estilos"}) %>
  <body>
    <header>
      <h1>Express Travels</h1>
     
   
      <nav >
        <ul>          
           <% destinos.forEach(destino => { %>
             <li><a href="<%= destino.ruta %>"><%= destino.lugar %></a></li>
           <%  }); %>  
          </ul>
      </nav>
    </header>
    <main>
      <!-- < %= y %> son los delimitadores de la plantilla EJS  -->
      <h2><%= h2 %></h2>
      <p> <%= descripcion %>  </p>
      <p>Precio : <%= precio %>€</p>
      <div style="background-color: aquamarine;">
        <img src="<%= img %>" alt="Imagen" width="100%" height="100%">
      </div>
      
    </main>
  </body>
</html>
